body {font-family: 'PT Serif', "Times New Roman", Times, serif;}

p {margin-bottom: 1.25em; font-size: inherit;}
nav{
	background: black;
	position: relative;
	height: 2.8125rem;
	font-size: 1.2em;
}
nav .columns {padding: 0;}
nav div {
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: relative;
	background: black;
	color: white;
	text-decoration: none;
}
body {background-image: url('../img/concrete_seamless.png');}
.site .row {background-color: white;}
.site, .site p {font-size: 8.4275pt;}
.aCard img {
  width: 92%;
  position: absolute;
}
#colorLinks li {
	float: right;
	border-radius: 50%;
	margin: 0.3rem 0.1rem;
	height: 2.1rem;
	width: 2.1rem;
	background-size: cover;
}
/*#colorLinks li:hover {background-color: white !important;}*/

nav div a {text-decoration: none; color: white;}
nav div a:hover {text-decoration: none; color: white;}
nav ul{list-style-type: none; margin:0;}
nav img {
	height: 2.4rem;
	width: 2.4rem;
}

.container {margin-top: 2.8125rem;}

.cardwrapper {
	background: black;
	border-radius: 5%;
	padding: 4.2%;
}

.columns {
	padding: 1%;
}

.Mana, .Tap {
	background-size:cover;
	border-radius: 50%;
	background: rgb(216, 204, 204);
	display: inline-block;
	width: 1.1em;
	height: 1.1em;
	line-height: 1em;
	text-align: center;
}

.cost .Mana {
  -webkit-box-shadow: 0px .15em 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px .15em 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.15em 0px 0px rgba(0,0,0,0.75);
}

.Tap {background-size:cover; background-image: url('../img/Tap.png'); color: rgba(0, 0, 0, 0);}
.Mana.White {background-size:cover; background-image: url('../img/White.png'); background-color: rgb(253,245,231); color: rgba(230,224,191, 0.0);}
.Mana.Black {background-size:cover; background-image: url('../img/Black.png'); color: rgba(0, 0, 0, 0);}
.Mana.Blue {background-size:cover; background-image: url('../img/Blue.png'); background-color: rgb(13, 177, 249); color: rgba(13, 177, 249, 0);}
.Mana.Red {background-size:cover; background-image: url('../img/Red.png'); background-color: rgb(241, 179, 155); color: rgba(186, 52, 43, 0);}
.Mana.Green {background-size:cover; background-image: url('../img/Green.png'); background-color: rgb(76, 141, 95); color: rgba(76, 141, 95, 0);}

.multiColoredLink:hover {background-image: url('../img/MultiColoredBlack.png'); background-color: rgb(226, 205, 123) !important;}
.whiteLink:hover {background-image: url('../img/White.png'); background-color: rgb(254, 254, 235) !important;}
.blueLink:hover {background-image: url('../img/Blue.png'); background-color: rgb(189, 236, 249) !important;}
.blackLink:hover {background-image: url('../img/Black.png'); background-color: rgb(216, 204, 204) !important;}
.redLink:hover {background-image: url('../img/Red.png');background-color: rgb(245, 154, 154) !important;}
.greenLink:hover {background-image: url('../img/Green.png');background-color: rgb(179, 232, 198) !important;}
.colorlessLink:hover {background-color: rgb(203, 203, 203) !important;}

.multiColoredLink {background-image: url('../img/MultiColoredWhite.png')}
.whiteLink {background-image: url('../img/linkWhite.png')}
.blueLink {background-image: url('../img/linkBlue.png')}
.blackLink {background-image: url('../img/linkBlack.png')}
.redLink {background-image: url('../img/linkRed.png')}
.greenLink {background-image: url('../img/linkGreen.png')}

.whiteLink {background-color: rgb(221, 208, 136) !important;}
.white {background-color: rgb(230,224,191) !important;}
.blue, .blueLink {background-color: rgb(7, 129, 231) !important;}
.blackLink {background-color: rgb(60, 60, 60) !important;}
.black {background-color: rgb(0, 0, 0) !important;}
.red, .redLink {background-color: rgb(197, 12, 0) !important;}
.green, .greenLink {background-color: rgb(27, 137, 59) !important;}
.multicolored, .multiColoredLink {background-color: rgb(173, 152, 68);}
.colorless, .colorlessLink {background-color: rgb(150, 150, 150) !important;}
.aCard a, .aCard a:hover {text-decoration: none; color: black;}

.cardBorder.blue>div {background-color: rgb(180, 217, 247);}
.cardBorder.blue .RulesFlavorRow {background-color: rgb(230, 242, 252);}
.cardBorder.white>div {background-color: rgb(247, 245, 235);}
.cardBorder.white .RulesFlavorRow {background-color: rgb(252, 251, 248);}
.cardBorder.black>div {background-color: rgb(178, 178, 178);}
.cardBorder.black .RulesFlavorRow {background-color: rgb(229, 229, 229);}
.cardBorder.red>div {background-color: rgb(237, 182, 178);}
.cardBorder.red .RulesFlavorRow {background-color: rgb(249, 230, 229);}
.cardBorder.green>div {background-color: rgb(186, 219, 196);}
.cardBorder.green .RulesFlavorRow {background-color: rgb(232, 243, 235);}
.cardBorder.multicolored>div {background-color: rgb(230, 224, 198);}
.cardBorder.multicolored .RulesFlavorRow {background-color: rgb(246, 244, 236);}
.cardBorder.colorless>div {background-color: rgb(223, 223, 223);}
.cardBorder.colorless .RulesFlavorRow {background-color: rgb(244, 244, 244);}

.cardBorder {
	border-radius: .5em;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	height: 95%;
	padding: .2em;
	overflow: visible;
	background-image: url('../img/rice-paper-3.png');
}

.title, .type {
	float: left;
}
.cost, .rarity {
	float: right;
}

.cardBorder>div {
	border: solid 1px black;
	padding: 0 .3em;
	font-weight: bold;
}

.RulesFlavorRow * {
	font-weight: normal;
}

.colorPicker{display:block;}

.colorPicker li {
	width: 14%;
}

.TitleCostRow, .TypeRarityRow {
	width: 18.3em;
	height: 2em;
	border-radius: .6em;
	margin: .2em 0;
}

.RulesFlavorRow {
	margin: 2%;
	height: 21em;
}

.cardBorder .attack {
	position: absolute;
	bottom: 6%;
	right: 7%;
	display: block;
	border-radius: .6em;
	padding: 0 .5em;
}
