body {font-family: 'PT Serif', "Times New Roman", Times, serif;}

p {margin-bottom: 1.25em;}

.cardwrapper {
	background: black;
	border-radius: 5%;
	padding: 4.2%;
}

.columns {
	padding: 1%;
}

.Mana {
	background-size:cover;
	border-radius: 50%;
	background: gray;
	display: inline-block;
	width: 1.1em;
	height: 1.1em;
	line-height: 1em;
	text-align: center;
}

.cost .Mana {
  -webkit-box-shadow: 0px .15em 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px .15em 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.15em 0px 0px rgba(0,0,0,0.75);
}

.Mana.Colorless, .Mana.Black {background-color: rgb(216, 204, 204);}
.Mana.White {
	background-image: url('../img/White.png');
	background-color: rgb(230,224,191);
	color: rgba(230,224,191, 0.0);
}
.Mana.Black {background-size:cover; background-image: url('../img/Black.png'); color: rgba(0, 0, 0, 0);}
.Mana.Blue {background-size:cover; background-image: url('../img/Blue.png'); background-color: rgb(13, 177, 249); color: rgba(13, 177, 249, 0);}
.Mana.Red {background-size:cover; background-image: url('../img/Red.png'); background-color: rgb(241, 179, 155); color: rgba(186, 52, 43, 0);}
.Mana.Green {background-size:cover; background-image: url('../img/Green.png'); background-color: rgb(76, 141, 95); color: rgba(76, 141, 95, 0);}

.white {background: rgb(230,224,191) !important;}
.blue {background: rgb(13, 177, 249) !important;}
.black {background: rgb(60, 60, 60) !important;}
.red {background: rgb(186, 52, 43) !important;}
.green {background: rgb(76, 141, 95) !important;}
.multicolored {
	background: #fefcea; /* Old browsers */
	/*background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36))  !important;
	background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%)  !important;
	background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%)  !important;
	background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%)  !important;
	background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%)  !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 )  !important; /* IE6-9 */
}
.colorless {background: rgb(150, 150, 150) !important;}

.cardBorder {
	border-radius: .5em;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	height: 95%;
	padding: .2em;
	overflow: visible;
}

.title, .type {
	float: left;
}
.cost, .rarity {
	float: right;
}

.cardBorder>div {
	border: solid 1px black;
	padding: 0 .3em;
	font-weight: bold;
}

.RulesFlavorRow * {
	font-weight: normal;
}

.colorPicker{display:block;}

.colorPicker li {
	width: 14%;
}

.TitleCostRow, .TypeRarityRow {
	width: 100%;
	height: 2em;
	border-radius: .6em;
	margin: .2em 0;
}

.RulesFlavorRow {
	margin: 2%;
}

.cardBorder .attack {
	position: absolute;
	bottom: 6%;
	right: 7%;
	display: block;
	border-radius: .6em;
	padding: 0 .5em;
}
