---
layout: default
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=816113395131025";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% if page.image %}
	{% if page.image contains 'http:' %}
			<img class="columns small-12 medium-4 large-3" src="{{ page.image }}">
	{% else %}
			<img class="columns small-12 medium-4 large-3" src="{{ site.baseurl }}/img/{{ page.image }}">
	{% endif %}
{% endif %}
<div class="columns small-12 medium-4 large-3 end">
	<div class="cardwrapper">
		<div class="cardBorder {{ page.color }}">
			<div class="TitleCostRow">
				<div class="title">{{ page.title }}</div><div class="cost">{{ page.cost }}</div>
			</div>
			<div class="TypeRarityRow">
				<div class="type">{{ page.type }}</div><div class="rarity">{{ page.rarity }}</div>
			</div>
			<div class="RulesFlavorRow">
				<div class="rulesContent">
					<div class="rules">{{ content }}</div>
					<em>{{ page.flavor }}</em>
				</div>
			</div>
			{% if page.attack %}
				<div class="attack">{{ page.attack }}</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="fb-comments" data-href="{{ site.baseurl }}{{ page.url }}" data-numposts="5" data-colorscheme="light"></div>