---
layout: default
---
<div class="row">
	{% if page.image %}
		{% if page.image contains 'http:' %}
  			<img class="columns small-6 medium-4 large-3" src="{{ page.image }}">
		{% else %}
  			<img class="columns small-6 medium-4 large-3" src="{{ site.baseurl }}/img/{{ page.image }}">
		{% endif %}
	{% endif %}
	<div class="columns small-6 medium-4 large-3 end">
		<div class="cardwrapper">
			<div class="cardBorder {{ page.color }}">
				<div class="TitleCostRow">
					<div class="title">{{ page.title }}</div><div class="cost">{{ page.cost }}</div>
				</div>
				<div class="TypeRarityRow">
					<div class="type">{{ page.type }}</div><div class="rarity">{{ page.rarity }}</div>
				</div>
				<div class="RulesFlavorRow">
					<div class="rules">{{ content }}</div><em class="cost">{{ page.flavor }}</em>
				</div>
				{% if page.attack %}
					<div class="attack">{{ page.attack }}</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>